increaps0830_Mybatis_XML/src/employee.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT 사원(명함+)>
<!ELEMENT 명함(회사명,부서,성명,주소,전화+,팩스?)>
<!ELEMENT 회사명 (#PCDATA)>
<!ELEMENT 부서 (#PCDATA)>
<!ELEMENT 성명 (#PCDATA)>
<!ELEMENT 주소 (#PC#DATA)>
<!ELEMENT 전화 (#PCDATA)>
<!ELEMENT 팩스 (#PCDATA)>

<!ATTLIST 성명 employee_id CDATA #REQUIRED>

<!-- 자주쓰는 문자열 등을 엔티티로 등록하여 XML문서에서 쉽게 사용하다 (?) -->

<!-- inc로 축약해서 사용함 -->
<!ENTITY inc "http://www.increpas.com/index.inc">

